@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

.no-scroll {
    @apply h-screen overflow-hidden;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #root {
    height: 100%;
  }

mux-player {
  --controls: none;
  --media-object-fit: cover;
  position: absolute;
  inset: 0;
  z-index: 0;
}

.inverted-text {
  color: #e4e4e4
}

.fullscreen-video {
  z-index: 1; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.on-top {
  z-index: 2;
}

.left-arrow-cursor {
  cursor: url('/left-cursor.svg'), auto;
}

.right-arrow-cursor {
  cursor: url('/right-cursor.svg'), auto;
}
